{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
  {{ form_start(configurationForm, {'action': path('ever.oneclickorder.configuration_form.index')}) }}
  <div class="card">
    <h3 class="card-header">
      <i class="material-icons">settings</i> {{ 'Configuration modules one click order'|trans({}, 'Modules.Cloneclickorder.Configurationform') }}
    </h3>
    <div class="card-block row">
      <div class="card-text">
        {{ form_widget(configurationForm) }}
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary float-right" type="submit" id="save-button">
          {{ 'Mettre à jour'|trans({}, 'Modules.Cloneclickorder.Configurationform') }}
        </button>
      </div>
    </div>
  </div>
  {{ form_end(configurationForm) }}
{% endblock %}

